<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <system.diagnostics>
    <trace autoflush="true"></trace>
    <sources>
      <source name="HTrace">
        <listeners>
          <clear/>

          <!-- Attach a Console Listener -->
          <!--<add name="console"/>-->

          <!-- Attach a File Trace Listener -->
          <!--<add name="file"/>-->

          <!-- Attach a Custom Listener -->
          <!--<add name="myLogger" />-->

          <!--Attach NLog Trace Listener -->
          <add name="nlog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!--Define Console Listener -->
      <!--<add name="console" type="System.Diagnostics.ConsoleTraceListener"/>-->

      <!--Define File Listener -->
      <!--<add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="outputFile.log">
        -->
      <!--Only write errors -->
      <!--
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
      </add>-->

      <!--Define Custom Listener -->
      <!--<add name="custom" type="MyNamespace.MyCustomTraceListener" />-->

      <!-- Define NLog Logger -->
      <add name="nlog" type="NLog.NLogTraceListener, NLog" />
    </sharedListeners>
  </system.diagnostics>

</configuration>
